$montserrat: 'Montserrat', sans-serif;
$roboto: 'Roboto', sans-serif;
$inter: 'Inter', sans-serif;

$bcg-main: #100f0f;

$color-main: #f3f3f3;
$color-second: #ffffff;
$color-red: #bc1a1a;
$color-button: rgba(188, 26, 26, 0.2);
$color-accent: rgba(188, 26, 26, 0.5);
$color-bottom: #979797;
