$montserrat: 'Montserrat', sans-serif;
$roboto: 'Roboto', sans-serif;
$inter: 'Inter', sans-serif;

$bcg-main: #100f0f;
$bcg-gradient-hero: linear-gradient(237.05deg, #6f6666 1.42%, #100f0f 45.36%);
$bcg-gradient-header: linear-gradient(270deg, #6f6666 2.17%, #100f0f 75.72%);
$color-main: #f3f3f3;
$color-second: #ffffff;
$color-red: #bc1a1a;
$color-button: rgba(188, 26, 26, 0.2);
$color-accent: rgba(188, 26, 26, 0.5);
