<footer class="footer">
  <div class="container">
    <div class="footer__up-part">
      <a href="" class="logo"
        ><img
          class="logo__image"
          src="./images/logo-1x.png"
          alt="Logo od Cucina"
          width="132"
          height="32"
        />
      </a>
      <ul class="footer__list">
        <li class="footer__item">Home</li>
        <li class="footer__item">Store</li>
        <li class="footer__item">Recipes</li>
        <li class="footer__item">Gallery</li>
      </ul>

      <ul class="footer__list footer__list--contacts">
        <li class="footer__item">Elvia Elviaveien 1, 1234 Oslo</li>
        <li class="footer__item">willie.jennings@example.com</li>
      </ul>
      <div class="social-net">
        <ul class="social-net__list">
          <li class="social-net__item"></li>
          <li class="social-net__item"></li>
          <li class="social-net__item"></li>
          <li class="social-net__item"></li>
        </ul>
      </div>
    </div>
    <div class="footer__down-part">
      <p class="footer__text">
        By using this website, you agree to the
        <a href="" class="footer__link">Terms of Service</a> and
        <a href="" class="footer__link">Privacy Policy</a>
      </p>
    </div>
  </div>
</footer>
