<header class="header">
  <div class="container">
    <a href="/" class="logo">
      <img
        src="./images/logo-1x.png"
        srcset="./images/logo-1x.png 1x, ./images/logo-2x.png 2x"
        class="logo__image"
        alt="Logo of Cucina"
        width="132"
        height="32"
      />
    </a>
    <nav class="navigation">
      <ul class="navigation__list">
        <li class="navigation__item">Home</li>
        <li class="navigation__item">Store</li>
        <li class="navigation__item">Recipes</li>
        <li class="navigation__item">Gallery</li>
      </ul>
    </nav>
    <button type="button" class="button">Contact us</button>
  </div>
</header>
