<header class="header">
  <div class="container">
    <a href="" class="logo"
      ><img
        class="logo__image"
        src="./images/logo-1x.png"
        alt="Logo od Cucina"
        width="132"
        height="32"
      />
    </a>
    <nav class="navigation">
      <ul class="navigation__list">
        <li class="navigation__item">Home</li>
        <li class="navigation__item">Store</li>
        <li class="navigation__item">Recipes</li>
        <li class="navigation__item">Gallery</li>
      </ul>
    </nav>
    <button type="button" class="button">Contact us</button>
  </div>
</header>
