<section class="section hero">
  <div class="container">
    <div class="hero__content">
      <h1 class="hero__title">Cucina di catherina</h1>
      <h2 class="hero__label">We know, you will love our product</h2>
      <button class="button">Buy now</button>
      <ul class="hero__list">
        <li class="hero__item">
          <span class="hero__number">14</span>
          <p class="hero__text">different tastes</p>
        </li>
        <li class="hero__item">
          <span class="hero__number">31</span>
          <p class="hero__text">factories around the world</p>
        </li>
      </ul>
    </div>
    <div class="hero__picture">
      <ul class="hero__list">
        <li class="hero__item">italy tomatoes</li>
        <li class="hero__item">fresh garlic</li>
        <li class="hero__item">white wine</li>
        <li class="hero__item">fresh basil</li>
      </ul>
      <img
        class="hero__image"
        src="./images/ketchup-desk-1x.png"
        alt="Ketchup bottle"
        width="305"
        height="535"
      />
    </div>
    <div class="social-net">
      <ul class="social-net__list">
        <li class="social-net__item"></li>
        <li class="social-net__item"></li>
        <li class="social-net__item"></li>
        <li class="social-net__item"></li>
      </ul>
    </div>
  </div>
</section>
