<section class="section hero">
  <div class="container hero__container">
    <div class="hero__content">
      <h1 class="hero__title">Cucina di catherina</h1>
      <p class="hero__label">
        We know,<br />you will <span class="hero__label--red">love</span> our
        product
      </p>
      <button class="button button--hero">Buy now</button>
      <ul class="hero__list">
        <li class="hero__item">
          <span class="hero__number">14</span>
          <p class="hero__text">different tastes</p>
        </li>
        <li class="hero__item hero__item--line">
          <span class="hero__number">31</span>
          <p class="hero__text">factories around the world</p>
        </li>
      </ul>

      <picture>
        <source
          srcset="
            ./images/ketchup-desk-1x.png 1x,
            ./images/ketchup-desk-2x.png 2x
          "
          media="(min-width: 1020px)"
        />
        <source
          srcset="
            ./images/ketchup-mob-1x.png 1x,
            ./images/ketchup-mob-2x.png 2x
          "
          media="(max-width: 1019px)"
        />
        <img
          class="hero__image"
          src="./images/ketchup-desk-1x.png"
          alt="Ketchup bottle"
          loading="lazy"
        />
      </picture>
    </div>
    <ul class="social-net__list">
      <li class="social-net__item">
        <a
          class="social-net__link"
          href="#"
          target="_blank"
          rel="noreferrer noopener"
        >
          <svg class="social-net__logo">
            <use href="/src/images/sprite.svg#icon-social-tumblr"></use>
          </svg>
        </a>
      </li>
      <li class="social-net__item">
        <a
          class="social-net__link"
          href="#"
          target="_blank"
          rel="noreferrer noopener"
        >
          <svg class="social-net__logo">
            <use href="/src/images/sprite.svg#icon-social-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="social-net__item">
        <a
          class="social-net__link"
          href="#"
          target="_blank"
          rel="noreferrer noopener"
        >
          <svg class="social-net__logo">
            <use href="/src/images/sprite.svg#icon-social-youtube"></use>
          </svg>
        </a>
      </li>
      <li class="social-net__item">
        <a
          class="social-net__link"
          href="#"
          target="_blank"
          rel="noreferrer noopener"
        >
          <svg class="social-net__logo">
            <use href="/src/images/sprite.svg#icon-social-twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
