<div class="mobile-menu is-hidden" menu>
  <div class="container mobile-menu__container">
    <a href="/" class="logo">
      <img
        src="./images/logo-1x.png"
        srcset="./images/logo-1x.png 1x, ./images/logo-2x.png 2x"
        class="logo__image"
        alt="Logo of Cucina"
        width="132"
        height="32"
      />
    </a>
    <div class="mobile-menu__content">
      <ul class="mobile-menu__list menu-list">
        <li class="mobile-menu__item">
          <a href="#home" class="mobile-menu__link">Home</a>
        </li>
        <li class="mobile-menu__item">
          <a href="#store" class="mobile-menu__link">Store</a>
        </li>
        <li class="mobile-menu__item">
          <a href="#recipes" class="mobile-menu__link">Recipes</a>
        </li>
        <li class="mobile-menu__item">
          <a href="#gallery" class="mobile-menu__link">Gallery</a>
        </li>
      </ul>
      <button
        type="button"
        class="button button--header contacts-open1"
        menu-close
      >
        Contact us
      </button>
    </div>

    <button
      type="button"
      class="mobile-menu__button mobile-menu__close"
      menu-close
    >
      <svg class="header__icon" width="32" hight="32">
        <use href="./images/sprite.svg#icon-cross"></use>
      </svg>
    </button>
  </div>
</div>
