<div class="backdrop is-hidden contact-modal">
  <div class="modal modal--contacts">
    <div class="container modal__container contact-modal__container">
      <button type="button" class="contacts-close">
        <svg class="header__icon" width="32" hight="32">
          <use href="./images/sprite.svg#icon-cross"></use>
        </svg>
      </button>
      <h2 class="modal__title">Leave your contacts and we will contact you</h2>
      <form class="modal__form" name="form_contacts" autocomplete="on">
        <div class="modal__field">
          <label class="modal__label"
            >Name
            <input
              class="modal__input"
              type="text"
              name="name"
              placeholder="Yuliia"
              required
              pattern="[a-zA-Z]{3,36}"
              title="The name must contain only letters."
          /></label>
        </div>
        <div class="modal__field">
          <label class="modal__label"
            >Telephone
            <input
              class="modal__input"
              type="tel"
              name="phone"
              placeholder="+380"
              required
              pattern="['+']{1}[0-9]{12}"
              title="The phone number must contain + and 12 digits."
          /></label>
        </div>
        <div class="modal__field">
          <label class="modal__label"
            >Email
            <input
              class="modal__input"
              type="email"
              name="email"
              placeholder="contact@gmail.com"
              required
              title="Please enter a valid email."
          /></label>
        </div>
        <div class="modal__field">
          <label class="modal__label">
            <textarea
              name="comment"
              rows="4"
              placeholder="How can we help you?"
              class="modal__input"
            ></textarea>
          </label>
        </div>
        <button type="submit" class="button button--modal">Contact us</button>
      </form>
    </div>
  </div>
</div>
