<section class="section" id="store">
  <div class="container">
    <h2 class="hidden">Products</h2>
    <div class="slider-products products">
      <div class="slider-products__item">
        <div class="products__item">
          <div class="products__picture">
            <picture>
              <source
                srcset="
                  ./images/products-tomato-desk-1x.jpg 1x,
                  ./images/products-tomato-desk-2x.jpg 2x
                "
                media="(min-width: 1020px)"
              />
              <source
                srcset="
                  ./images/products-tomato-mob-1x.jpg 1x,
                  ./images/products-tomato-mob-1x.jpg 2x
                "
                media="(max-width: 1019px)"
              />
              <img
                class="products__image"
                src="images/products-tomato-desk-1x.jpg"
                alt="Many tomatoes"
                loading="lazy"
                width="349"
              />
            </picture>
          </div>
          <div class="products__content">
            <h3 class="products__title">Classic sauce</h3>
            <p class="products__text">
              The most delicate taste of tomatoes, combined with branded spices
              and white wine, will make your dish incredibly tasty.
            </p>
            <button type="button" class="button">Buy now</button>
          </div>
        </div>
      </div>
      <div class="slider-products__item">
        <div class="products__item products__item--even">
          <div class="products__content">
            <h3 class="products__title">Spicy sauce</h3>
            <p class="products__text">
              For thrill-seekers, we added hot chili pepper to our sauce, it
              also reveals all the tastes and aromas of the sauce well.
            </p>
            <button type="button" class="button">Buy now</button>
          </div>
          <div class="products__picture">
            <picture>
              <source
                srcset="
                  ./images/products-papper-desk-1x.jpg 1x,
                  ./images/products-papper-desk-2x.jpg 2x
                "
                media="(min-width: 1020px)"
              />
              <source
                srcset="
                  ./images/products-papper-mob-1x.jpg 1x,
                  ./images/products-papper-mob-1x.jpg 2x
                "
                media="(max-width: 1019px)"
              />
              <img
                class="products__image"
                src="images/products-papper-desk-1x.jpg"
                alt="Many pappers"
                loading="lazy"
                width="349"
              />
            </picture>
          </div>
        </div>
      </div>
      <div class="slider-products__item">
        <div class="products__item">
          <div class="products__picture">
            <picture>
              <source
                srcset="
                  ./images/products-ketchup-desk-1x.jpg 1x,
                  ./images/products-ketchup-desk-2x.jpg 2x
                "
                media="(min-width: 1020px)"
              />
              <source
                srcset="
                  ./images/products-ketchup-mob-1x.jpg 1x,
                  ./images/products-ketchup-mob-1x.jpg 2x
                "
                media="(max-width: 1019px)"
              />
              <img
                class="products__image"
                src="images/products-ketchup-desk-1x.jpg"
                alt="Bowl of ketchup"
                loading="lazy"
                width="349"
              />
            </picture>
          </div>
          <div class="products__content">
            <h3 class="products__title">Classic sauce</h3>
            <p class="products__text">
              The most delicate taste of tomatoes, combined with branded spices
              and white wine, will make your dish incredibly tasty.
            </p>
            <button type="button" class="button">Buy now</button>
          </div>
        </div>
      </div>
      <div class="slider-products__item">
        <div class="products__item products__item--even">
          <div class="products__content">
            <h3 class="products__title">Spicy sauce</h3>
            <p class="products__text">
              For thrill-seekers, we added hot chili pepper to our sauce, it
              also reveals all the tastes and aromas of the sauce well.
            </p>
            <button type="button" class="button">Buy now</button>
          </div>
          <div class="products__picture">
            <picture>
              <source
                srcset="
                  ./images/products-chili-desk-1x.jpg 1x,
                  ./images/products-chili-desk-2x.jpg 2x
                "
                media="(min-width: 1020px)"
              />
              <source
                srcset="
                  ./images/products-chili-mob-1x.jpg 1x,
                  ./images/products-chili-mob-1x.jpg 2x
                "
                media="(max-width: 1019px)"
              />
              <img
                class="products__image"
                src="images/products-chili-desk-1x.jpg"
                alt="Chili pappers and bowl with spicy souce"
                loading="lazy"
                width="349"
              />
            </picture>
          </div>
        </div>
      </div>
      <div class="slider-products__item">
        <div class="products__item">
          <div class="products__picture">
            <picture>
              <source
                srcset="
                  ./images/products-ketchup2-desk-1x.jpg 1x,
                  ./images/products-ketchup2-desk-2x.jpg 2x
                "
                media="(min-width: 1020px)"
              />
              <source
                srcset="
                  ./images/products-ketchup2-mob-1x.jpg 1x,
                  ./images/products-ketchup2-mob-1x.jpg 2x
                "
                media="(max-width: 1019px)"
              />
              <img
                class="products__image"
                src="images/products-ketchup2-desk-1x.jpg"
                alt="Some tomatoes and small bowl of ketchup"
                loading="lazy"
                width="349"
              />
            </picture>
          </div>
          <div class="products__content">
            <h3 class="products__title">Classic sauce</h3>
            <p class="products__text">
              The most delicate taste of tomatoes, combined with branded spices
              and white wine, will make your dish incredibly tasty.
            </p>
            <button type="button" class="button">Buy now</button>
          </div>
        </div>
      </div>
      <div class="slider-products__item">
        <div class="products__item products__item--even">
          <div class="products__content">
            <h3 class="products__title">Spicy sauce</h3>
            <p class="products__text">
              For thrill-seekers, we added hot chili pepper to our sauce, it
              also reveals all the tastes and aromas of the sauce well.
            </p>
            <button type="button" class="button">Buy now</button>
          </div>
          <div class="products__picture">
            <picture>
              <source
                srcset="
                  ./images/products-chili2-desk-1x.jpg 1x,
                  ./images/products-chili2-desk-2x.jpg 2x
                "
                media="(min-width: 1020px)"
              />
              <source
                srcset="
                  ./images/products-chili2-mob-1x.jpg 1x,
                  ./images/products-chili2-mob-1x.jpg 2x
                "
                media="(max-width: 1019px)"
              />
              <img
                class="products__image"
                src="images/products-chili2-desk-1x.jpg"
                alt="Gravy boat with spicy souce"
                loading="lazy"
                width="349"
              />
            </picture>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
