<section class="section" id="recipes">
  <div class="container">
    <div class="recipes">
      <h2 class="hidden">Recipes</h2>
      <ul class="recipes__list">
        <li class="recipes__item recipes__item--right">
          <div class="recipes__video">
            <iframe
              class="recipes__iframe"
              loading="lazy"
              src="https://www.youtube.com/embed/9zQ5teEfwjQ?controls=0"
              title="Bell pepper pasta"
            ></iframe>
          </div>
          <h3 class="recipes__title">Bell pepper pasta</h3>
        </li>
        <li class="recipes__item">
          <div class="recipes__video">
            <iframe
              class="recipes__iframe"
              title="Tomato paste"
              loading="lazy"
              src="https://www.youtube.com/embed/faAPL-WJRow?controls=0"
            ></iframe>
          </div>

          <h3 class="recipes__title">Tomato paste</h3>
        </li>
      </ul>
    </div>
  </div>
</section>
