@import '~node_modules/modern-normalize/modern-normalize.css';

html {
  scroll-behavior: smooth;
}

body {
  font-family: $montserrat;
  font-size: 16px;
  line-height: 1.25;
  color: $color-main;
  background-color: $bcg-main;
}

.section {
  margin-bottom: 100px;
}
