.social-net__list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.social-net__link {
  width: 16px;
  height: 16px;
}

.social-net__link {
  &:hover,
  &:focus {
    color: $color-accent;
  }
}

.social-net__logo {
  display: block;
  fill: currentColor;
  width: 16px;
  height: 16px;
}
