.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 12px;
  padding-bottom: 12px;
  @include tablet {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.header__icon {
  fill: currentColor;
}
