.hero {
  background: $bcg-gradient-hero;
  padding-top: 40px;
  padding-bottom: 40px;
  @include tablet {
    padding-top: 72px;
    padding-bottom: 31px;
  }
}
.hero__container {
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
  }
}
.hero__content {
  position: relative;
}
.hero__content::before {
  content: '';
  position: absolute;
  width: 233px;
  height: 136px;
  top: 137px;
  left: -21px;
  transform: rotate(-20.76deg);

  background-image: url(../images/vegetables-mob-1x.png);
  background-repeat: no-repeat;
  background-position: left center;
  @include retina {
    background-image: url(../images/vegetables-mob-2x.png);
  }
  @include mobile {
    width: 302px;
    height: 177px;
  }
  @include tablet {
    display: none;
  }
}

.hero__title {
  width: 195px;
  padding-left: 8px;
  margin-bottom: 12px;

  font-weight: 500;
  font-size: 30px;
  line-height: 1.23;
  text-transform: uppercase;
  border-left: 1px solid $color-main;

  @include tablet {
    margin-bottom: 24px;
    width: 388px;
    font-size: 64px;
    line-height: 1.22;
  }
}

.hero__label {
  margin-bottom: 228px;

  color: $color-second;
  &--red {
    color: $color-red;
  }

  @include tablet {
    margin-bottom: 48px;

    font-weight: 300;
    font-size: 36px;
    line-height: 1.22;
  }
}
.hero__list {
  position: relative;
  margin-top: 16px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 21px;

  @include tablet {
    justify-content: flex-start;
    margin-top: 48px;
    margin-bottom: 74px;
  }
}
.hero__item {
  display: flex;
  gap: 12px;
  height: 78px;
  align-items: center;
}
.hero__item--line {
  border-left: 1px solid $color-main;
}

.hero__number {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.22;
}
.hero__text {
}

.hero__picture {
  position: relative;
  @include tablet {
    width: 432px;
    height: 579px;
  }
}
.hero__image {
  content: '';
  position: absolute;
  top: -558px;
  right: 0;
  width: 156px;
  height: 270px;

  @include mobile {
    width: 202px;
    height: 350px;
  }

  @include tablet {
    top: 0;
    width: 432px;
    height: 579px;
  }
}
