.hero__container {
  padding-top: 40px;
  padding-bottom: 40px;

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;

    padding-top: 72px;
    padding-bottom: 31px;
  }
  @include desktop {
    flex-wrap: nowrap;
    gap: 0;
  }
}
.hero__content {
  position: relative;
  @include desktop {
    margin-right: 160px;
  }
}
.hero__content::before {
  content: '';
  position: absolute;
  width: 233px;
  height: 136px;
  top: 137px;
  left: -21px;
  transform: rotate(-20.76deg);

  background-image: url(../images/vegetables-mob-1x.png);
  background-repeat: no-repeat;
  background-position: left center;
  @include retina {
    background-image: url(../images/vegetables-mob-2x.png);
  }
  @include mobile {
    width: 302px;
    height: 177px;
  }
  @include tablet {
    display: none;
  }
}

.hero__title {
  width: 195px;
  padding-left: 8px;
  margin-bottom: 12px;

  font-weight: 500;
  font-size: 26px;
  line-height: 1.21;
  text-transform: uppercase;
  border-left: 1px solid $color-main;

  @include mobile {
    font-size: 30px;
    line-height: 1.23;
  }

  @include tablet {
    margin-bottom: 24px;
    width: 388px;
    font-size: 64px;
    line-height: 1.22;
  }
}

.hero__label {
  margin-bottom: 228px;
  width: 150px;

  color: $color-second;
  &--red {
    color: $color-red;
  }

  @include mobile {
    width: 100%;
  }

  @include tablet {
    margin-bottom: 48px;

    font-weight: 300;
    font-size: 36px;
    line-height: 1.22;
  }
}
.hero__list {
  position: relative;
  margin-top: 16px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 21px;

  @include tablet {
    justify-content: flex-start;
    margin-top: 48px;
    margin-bottom: 74px;
  }
  @include desktop {
    margin-bottom: 0;
  }
}
.hero__item {
  display: flex;
  gap: 12px;
  height: 78px;
  align-items: center;
}
.hero__item--line {
  border-left: 1px solid $color-main;
}

.hero__number {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.22;
}

.hero__picture {
  position: relative;
  @include tablet {
    width: 343px;
    height: 541px;
  }
  @include desktop {
    margin-right: 47px;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.overlay1,
.overlay2,
.overlay3,
.overlay4 {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  transition: transform $transit;

  &:hover {
    transform: scale(1.1);
  }
}

.overlay1 {
  @include tablet {
    top: -45px;
    left: -75px;
    animation-delay: 0.5s;
    width: 225px;
    height: 252px;
    background-image: url('../images/ketchup-italy-tomatos.png');
  }
}

.overlay2 {
  @include tablet {
    top: 130px;
    left: -75px;
    animation-delay: 1s;
    width: 252px;
    height: 126px;
    background-image: url('../images/ketchup-fresh-garlic.png');
  }
}

.overlay3 {
  @include tablet {
    bottom: 190px;
    left: -110px;
    animation-delay: 1.5s;
    width: 241px;
    height: 80px;
    background-image: url('../images/ketchup-white-wine.png');
  }
}

.overlay4 {
  @include tablet {
    bottom: 0;
    left: -75px;
    animation-delay: 2s;
    width: 238px;
    height: 114px;
    background-image: url('../images/ketchup-fresh-brazil.png');
  }
}

.hero__image {
  content: '';
  position: absolute;
  top: -558px;
  right: 0;
  width: 156px;
  height: 270px;

  @include mobile {
    width: 202px;
    height: 350px;
  }

  @include tablet {
    top: 0;
    width: 343px;
    height: 541px;
  }
}
