.products {
  display: flex;
  flex-direction: column;
  position: relative;
  @include desktop {
    padding-left: 63px;
    padding-right: 63px;
  }
}

.products__item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  padding: 24px 15px;
  gap: 10px;

  @include mobile {
    gap: 44px;
  }
  @include tablet {
    padding: 24px 20px;
    gap: 64px;
  }
}

.products__item--even {
  justify-content: flex-end;
}

.products__image {
  width: 125px;
  height: 125px;
  border-radius: 50%;

  filter: drop-shadow(0 0 10px #7c7070);

  @include mobile {
    width: 156px;
    height: 156px;
  }

  @include tablet {
    width: 349px;
    height: 349px;
    filter: drop-shadow(0 0 15px #7c7070);
  }
}

.products__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  flex-basis: 30%;
  @include mobile {
    flex-basis: 40%;
  }
  @include tablet {
    align-items: flex-start;
  }
}
.products__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  @include tablet {
    font-weight: 600;
    font-size: 32px;
    line-height: 1.22;
  }
}

.products__text {
  display: none;
  @include tablet {
    display: block;
  }
}

.btn {
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  z-index: 10;

  width: 16px;
  height: 16px;

  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  background-position: center;
  border: none;

  transition: background-color $transit, border-radius $transit;

  @include tablet {
    width: 32px;
    height: 32px;
  }
}

.btn-up {
  top: 8px;
  background-image: url('../images/arrow-up.svg');
}

.btn-down {
  bottom: 8px;
  background-image: url('../images/arrow-down.svg');
}

.btn:hover {
  background-color: $color-accent;
  border-radius: 50%;
}
